<%- include('partials/about') %>

<h1>Create Account</h1>

<% if (errors.length) { %>
  <ul style="color:red;">
    <% errors.forEach(e => { %>
      <li><%= e.msg %></li>
    <% }) %>
  </ul>
<% } %>

<form method="POST" action="/register">
  <label>Name</label><br>
  <input type="text" name="name" required><br><br>

  <label>Email</label><br>
  <input type="email" name="email" required><br><br>

  <label>Password</label><br>
  <input type="password" name="password" required><br><br>

  <label>Confirm Password</label><br>
  <input type="password" name="confirm" required><br><br>

  <button type="submit">Register</button>
</form>
